<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>




<h3 align="center">תפוסה לפי מקום</h3>

<table align="center" width="500" border="1">
  <tr>
    <% @counts.each do |c,v| %>
        <td style="text-align: center">
          <h2><%= c %></h2>
          <h3><%= v %></h3>
        </td>
    <% end %>
  </tr>
</table>


<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Barbi',
                y: 61.41,
                sliced: true,
                selected: true
            }, {
                name: '17',
                y: 21.84
            }, {
                name: 'Zappa',
                y: 16.75
            }]
        }]
    });
</script>
